#productMain {
    position: relative;
    top: 15vh;
    background-color: var(--grey);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#productImgDiv {
    width: 80%;
    margin: 2vh 0;
    margin-left: 2vh;
}

#productImg {
    width: 100%;
    object-fit: contain;
}

#productDivBack {
    width: 80%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin: 3vh 0;
}

#productInfo {
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #productMain {
        width: 100vw;
        top: 5vh;
    }

    #productDivBack {
        width: 95%;
        flex-direction: column;
        padding: 2vh 0;
        line-height: 3vh;
    }

    #productImgDiv {
        margin: 0;
        width: 90%;
    }
}